//-------------------------------------------
// flex 상하 좌우 정렬
//-------------------------------------------
@mixin flex(
  $display: flex,
  $vertical: center,
  $horizontal: center,
  $direction: null
) {
  display: $display;
  align-items: $vertical;
  justify-content: $horizontal;
  flex-direction: $direction;
}

//-------------------------------------------
// 한 줄 말줄임
//-------------------------------------------
@mixin ellipsis($width: null) {
  display: block;
  @apply truncate;

  @if ($width) {
    width: $width;
  }
}

//-------------------------------------------
// 한 줄 이상 말줄임
// @include ellipsis-multi(line-height 값, 줄 수)
//-------------------------------------------
@mixin ellipsis-multi($line-height: 1.2, $lines: 2) {
  display: block;
  display: -webkit-box;
  overflow: hidden;
  max-height: $line-height * $lines;
  line-height: $line-height;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

//-------------------------------------------
// 숨김
//-------------------------------------------
@mixin hidden-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

//-------------------------------------------
// table caption 숨김
//-------------------------------------------
@mixin caption-out {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

//-------------------------------------------
// animation
//-------------------------------------------
@mixin animation-default {
  transition-duration: 110ms;
  transition-timing-function: ease-in-out;
}

//-------------------------------------------
// IE10+ 크로스브라우징
//-------------------------------------------
@mixin ie-resolution {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}

// -------------------------
// list
// -------------------------
@mixin list {
  &__list + &__list::before {
    content: "";
    display: block;
    border-top: 1px solid $ui-04;
    margin: $spacing-4 0;
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;

    &:hover {
      background-color: $ui-01;
    }
  }

  &__button {
    @include ellipsis;
    @include button;
    flex: 1;
    height: 32px;
    flex-direction: row;
    justify-content: flex-start;
    padding: $spacing-4 $spacing-8;
    cursor: pointer;
    font-weight: 400;
    background-color: transparent;
    border: none;
    color: inherit;
    text-align: left;
    // &:hover:not(:disabled) {
    //   background-color: $ui-01;
    // }

    &:active {
      background-color: $ui-01;
    }

    &:focus-visible:not(:disabled) {
      border: 2px solid $default-focus;
    }
  }

  &__notification {
    display: flex;
    flex: 1;
    height: 32px;
    padding: $spacing-4 $spacing-8;
    cursor: default;
  }

  &__icon,
  &__subicon {
    vertical-align: middle;
    flex-shrink: 0;
  }

  &__icon + &__text,
  &__subicon + &__text {
    margin-left: $spacing-4;
  }

  &__button:active &__text {
    color: $primary;
  }

  &__button:active &__icon,
  &__button:active &__subicon {
    fill: $primary;
  }

  &__text {
    @include text-overflow;
    @include font-size("13");
    @include line-height("heading");
    vertical-align: middle;
    color: $text-01;
  }

  &__action-buttons {
    display: flex;
    margin-right: $spacing-8;
    z-index: 1;
  }

  &__action-button {
    @include button;
    padding: 0;
    border-radius: $border-radius-default;
    background-color: transparent;

    .button__text {
      @include font-size("13");
      margin-left: $spacing-8;
      color: $text-03;
    }

    &:hover:not(:disabled) {
      background-color: $hover-row;
    }

    &:active:not(:disabled) {
      background-color: $hover-row;

      .svg-icon {
        fill: $primary;
      }

      .button__text {
        color: $primary;
      }
    }

    &:not(:last-child) {
      margin-right: $spacing-2;
    }

    &:focus-visible:not(:disabled) {
      border: 2px solid $default-focus;
    }
  }
}
