.header {
  position: fixed;
  width: 100%;
  height: 50px;
  background: $ui-02;
  border: 1px solid $field-border;

  &-layout {
    @include flex($horizontal:space-between);
    padding: $spacing-8 $spacing-16;
  }

  &-main {
    @include flex;
    gap: $spacing-24;
  }
  .text-input-group {
    width: 330px;
  }

  .profile {
    @include flex;
    gap: $spacing-8;

    &-avatar {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      // 임시스타일
      background-color: $active-secondary;
    }
  }
}
