.breadcrumb {
    display: flex;
    height: 24px;

    &-list {
      @include flex;
      gap: $spacing-32;
    }

    &-item {
      @include flex;
      position: relative;
      gap: 6px;

      .svg-icon {
        @include icon-size(18px);
      }

      &.is-breadcrumb-selected {
        .svg-icon {
          fill: $text-02;
        }

        .breadcrumb-link {
          color: $text-02;
        }
      }

      &:not(:last-child):after {
        content: url("../../assets/images/icon/chevron-right-medium.svg");
        position: absolute;
        left: 100%;
        top: -6px;
        transform: scale(0.6);
      }
    }

    &-link {
      font-size: 13px;
      font-weight: 500;
      color: $text-03;

      &:hover {
        text-decoration: underline;
      }
    }
  }
