.checkbox {
  position: relative;

  &-input {
    @include hidden-text;
    top: 4px;
    left: 2px;

    &:focus-visible:not(:disabled) {
      + .checkbox-label:before {
        border-color: $primary;
      }
    }
  }

  &-label {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding-left: $spacing-24;
    min-height: 24px;
    color: $text-02;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;

    &::before,
    &::after {
      box-sizing: border-box;
      @include animation-default;
    }

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      margin: $spacing-2;
      position: absolute;
      left: 0;
      top: 2px;
      background-color: $ui-01;
      border: 1px solid $text-03;
    }

    &::after {
      content: "";
      position: absolute;
      left: 6px;
      top: 4px;
      width: 9px;
      height: 5px;
      background: none;
      border-left: 2px solid $text-04;
      border-bottom: 2px solid $text-04;
      transform: scale(0) rotate(-45deg);
      transform-origin: bottom right;
    }

    &:hover::before {
      border-color: $primary;
    }
  }

  &-input:checked + &-label::before {
    background-color: $primary;
    border-color: $primary;
  }

  &-input:checked + &-label::after {
    transform: scale(1) rotate(-45deg);
  }

  // 부분 선택 상태
  &-indeterminate &-input + &-label::before,
  &-input:indeterminate + &-label::before {
    border-color: $primary;
  }

  &-indeterminate &-input + &-label::after,
  &-input:indeterminate + &-label::after {
    transform: scale(1) rotate(0deg);
    top: 8px;
    left: 6px;
    width: 8px;
    border-left-width: 0;
    border-bottom-width: 2px;
    border-color: $primary;
  }

  &-indeterminate &-input:checked + &-label::before {
    background-color: transparent;
  }

  // disabled 상태
&.is-checkbox-disabled &-label,
&-input:disabled + &-label {
  opacity: 0.4;
  cursor: not-allowed;

  // TODO: 기본 상태 디자인에 :not 으로 줄일 수 있음
    &:hover {
      &::before,
      &::after {
        border-color: $text-03;
      }
    }
  }

  &.is-checkbox-disabled &-input:checked + &-label,
  &-input:disabled:checked + &-label {
    &:hover {
      &::before {
        border-color: $primary;
      }
      &::after {
        border-color: $text-04;
      }
    }
  }

  &.checkbox-lg {
    .checkbox-label {
      @include font-size("15");
      padding-left: $spacing-24 + $spacing-4;
      min-height: 28px;
    }

    .checkbox-label{
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        margin: $spacing-2;
        top: 2px;
        border-width: 2px;
      }

      &::after {
        left: 8px;
        top: 4px;
        width: 10px;
        height: 7px;
      }
    }

    &.checkbox-indeterminate .checkbox-input + .checkbox-label::after,
    .checkbox-input:indeterminate + .checkbox-label::after {
      transform: scale(1) rotate(0deg);
      top: 9px;
      left: 7px;
      width: 10px;
      border-left-width: 0;
      border-bottom-width: 3px;
    }
  }

  &.checkbox-sm {
    .checkbox-label {
      @include font-size("12");
      padding-left: $spacing-16;
      min-height: 18px;
    }

    .checkbox-label {
      &::before {
        content: "";
        width: 12px;
        height: 12px;
        margin: 1px;
        top: 3px;
        border-width: 1px;
      }

      &::after {
        left: 4px;
        top: 4px;
        width: 7px;
        height: 4px;
      }
    }

    &.checkbox-indeterminate .checkbox-input + .checkbox-label::after,
    .checkbox-input:indeterminate + .checkbox-label::after {
      transform: scale(1) rotate(0deg);
      top: 7px;
      left: 4px;
      width: 6px;
      border-left-width: 0;
      border-bottom-width: 2px;
    }
  }
}


// -------------------------
// checkbox-toggle
// -------------------------
.checkbox-toggle {
  display: flex;
  align-items: center;

  .checkbox:not(:last-of-type) {
    margin-right: $spacing-8;
  }

  .checkbox-label {
    height: 32px;
    padding: 0 $spacing-12;
    line-height: 1;
    border: 1px solid $ui-04;
    border-radius: $border-radius-default;

    &:after,
    &:before {
      content: none;
    }
  }

  .checkbox-input:checked + .checkbox-label {
    background-color: $primary;
    border-color: $primary;
    color: $text-04;
  }

  .checkbox-input:checked:focus-visible:not(:disabled) {
    + .checkbox-label {
      outline: 2px solid $default-focus;
    }
  }

  .checkbox-lg {
    .checkbox-label {
      padding: 0 $spacing-16;
      height: 40px;
    }
  }

  .checkbox-sm {
    .checkbox-label {
      padding: 0 $spacing-8;
      height: 24px;
    }
  }
}
