@mixin form-item($both-side-padding) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: $both-side-padding 0;
  }

  @mixin form-label {
    @include flex($direction:row, $horizontal:flex-start);
    flex: 0 0 auto;
    width: 33.33%;
    height: 32px;
  }

  @mixin form-label-text {
    padding-right: $spacing-4;
    color: $text-02;
    font-weight: 500;
    overflow-wrap: break-word;
    word-break: keep-all;
  }

  @mixin form-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 auto;
    min-height: 32px;
  }

  .form-head-title {
    @include font-size('16');
    font-weight: 500;
    display: block;

    & + .form-body {
      margin-top: $spacing-12;
    }
  }

  .form-body {
    width: 100%;
  }

  .form-list {
    width: 100%;
  }

  .form-item {
    @include form-item($spacing-8);
    width: 100%;
  }

  .form-label {
    @include form-label;

    &-text {
      @include form-label-text;

      & + .button-link {
        margin-right: $spacing-4;
      }
    }

    &-subtext {
      @include font-size('12');
      padding-right: $spacing-4;
      color: $text-03;
      word-break: normal;
      white-space: nowrap;
    }
  }

  .form-detail {
    @include form-detail;

    &-value {
      @include font-size('13');
      color: $text-01;
      width: 40px;
    }

    &-text {
      @include font-size('15');
      color: $text-01;
      font-weight: 500;
    }


    &-item {
      & + & {
        margin-top: $spacing-12;
      }
    }

    &-helper-text {
      @include font-size('12');
      @include ellipsis;
      padding-left: $spacing-4;
      color: $text-03;
    }


    .upload-preview {
      width: 100%;
    }
  }

  .form-foot {
    display: flex;
    align-items: center;
    padding-top: $spacing-12;

    &-buttons {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: $spacing-8;
    }
  }

  // -------------------------
  // Size overwrite
  // -------------------------
  .form-lg {
    .form-head-title {
      @include font-size('16');
    }

    .form-item,
    .form-items {
      padding: $spacing-8 0;
    }

    .form-item:first-child,
    .form-items:first-child {
      padding-top: 0;
    }

    .form-label,
    .form-items-title {
      height: 40px;
    }

    .form-label,
    .form-text,
    .form-items-title-text {
      @include font-size('15');
    }
  }

  // -------------------------
  // form--vertical
  // -------------------------
  .form-head.form-vertical {
    margin-top: $spacing-8;
  }

  .form-vertical {
    .form-item {
      flex-direction: column;
      align-items: flex-start;
      padding: $spacing-12 0;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }

    .form-label {
      width: 100%;
      height: auto;
      padding: 0;
      margin-bottom: $spacing-2;

      &-subtext {
        margin-left: auto;
      }

      &-text {
        @include font-size('15');

      }
    }

    .form-detail {
      width: 100%;
      margin-top: $spacing-12;
      &-textarea {
        height: 120px;
      }

      &-detail {
        flex: auto;
      }
    }
  }


  // -------------------------
  // form__items - 환경설정에 새롭게 추가된 item 유형입니다.
  // -------------------------
  .form-detail-item {
    display: flex;
    align-items: center;

    &-border:last-child {
      padding-bottom: $spacing-16;
      border-bottom: 1px solid $hover-row;
    }

    & + & {
      margin-top: $spacing-8;
    }
  }

  .form-detail-label {
    width: 112px;
    padding-right: $spacing-12;
    text-align: right;

    &-text {
      font-weight: 400;
      color: $text-02;
      word-break: break-word;
    }
  }

  .form-detail-detail {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
  }
