.menu {
  @include list(menu);
  display: flex;
  flex-direction: column;
  border: 1px solid $ui-04;
  background-color: $ui-02;
  color: $text-01;


// hover시 액션 버튼 노출
  &.menu-hidable {
    .menu-action-buttons {
      display: none;
    }
    .menu-item:not(.is-list-item-disabled):hover {
      .menu-action-buttons {
        display: flex;
      }
    }
  }

  &-list {
    width: 100%;
    height: 100%;
  }

  &-head {
    padding: $spacing-8;
    background-color: $ui-01;

    &-title {
      @include ellipsis;
      color: $text-02;
      font-weight: 500;
      margin-bottom: $spacing-2;

      &-text {
        flex: 1;
      }
    }

    &-toolbar {
      display: flex;

      &-hide.menu-head-title-hide {
        padding: 0;
      }
    }

    &-toolbar-hide {
      .list-head-toolbar {
        display: none;
      }
    }

    &-title-hide .menu-head-title {
      display: none;
    }

    &-toolbar .text-input-group {
      width: 100%;
    }

    &-checkbox {
      display: inline-flex;
    }

    &-right-box {
      margin-left: auto;
    }
  }

  &-item {
    border-bottom: 1px solid $hover-row;

    &:last-child {
      border-bottom: 0;
    }

    &-notification {
      padding: $spacing-4 $spacing-8;
      margin: 0 auto;
      height: 40px;
    }

    &.is-menu-item-selected .menu-details {
      display: flex;
    }
  }

  &-button &-subicon {
    width: 20px;
    height: 20px;
  }

  &-subtext {
    @include font-size('13');
    margin-left: $spacing-4;
    color: $text-03;
  }

  &-body {
    overflow: auto;
  }

  &-summary {
    display: flex;
    align-items: center;
    width: 100%;

    &-content {
      display: flex;
      flex-grow: 1;
      align-items: center;
    }
  }

  &-details {
    display: none;
    width: 100%;
    color: $text-01;
    background-color: darken($ui-01, 1.4%);

    &-inner {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: $spacing-16;
    }

    &-list {
      width: 100%;
    }

    &-action-buttons {
      display: flex;
      margin-left: $spacing-8;
    }

    &-item {
      display: flex;
      align-items: center;
      padding: $spacing-8 $spacing-16;
      color: $text-02;

      &:not(:last-child) {
        border-bottom: 1px solid rgba($ui-04, 0.75);
      }
    }
  }

  &-lg {
    .menu-button {
        height: 40px;
    }
    .menu-text {
      @include font-size('14');
    }

    .menu-action-button {
      width: 24px;
      height: 24px;
      
      .svg-icon {
        @include icon-size('sm');
      }
    }
  } 
}





// .dynamic-list {
//   width: 100%;
//   padding: $spacing-sm;

//   .notification-full {
//     height: 100%;
//     justify-content: center;
//   }
// }

// .dynamic-list__no-contents {
//   display: flex;
//   height: 100%;
//   background-color: $odd-row;
//   justify-content: center;
// }

// .dynamic-list__no-contents .notification-message {
//   height: rem(480px);
// }

// .dynamic-list__toolbar {
//   display: flex;
//   margin-bottom: $spacing-sm;
// }

// .dynamic-list__items {
//   min-height: rem(480px);
//   max-height: rem(480px);
//   padding-right: $spacing-xs;
//   overflow-y: auto;
//   position: relative;
// }

// .dynamic-list__item {
//   border: 1px solid $ui-04;
//   background-color: $odd-row;
// }

// .dynamic-list__item:not(:last-child) {
//   margin-bottom: $spacing-md;
// }

// .dynamic-list__item .dynamic-list__head {
//   display: flex;
//   align-items: flex-start;
//   padding: $spacing-xs;
//   background-color: $ui-02;
//   border-bottom: 1px solid $ui-04;
// }

// .dynamic-list__filter {
//   flex: 1;
// }

// .dynamic-list__body {
//   padding: $spacing-2xs 0;
// }

// .dynamic-list__body-row {
//   padding: $spacing-3xs 0;
// }

// .dynamic-list__lang {
//   padding: 0 $spacing-xs 0 $spacing-sm;
//   font-weight: 500;
//   color: $text-02;
// }

// .dynamic-list__contents {
//   display: flex;
//   flex: 1;
//   align-items: center;
//   position: relative;
//   overflow: hidden;
// }

// .dynamic-list__form {
//   flex: 1;
//   position: relative;
// }

// .dynamic-list__buttons {
//   .button--link {
//     padding: 0 $spacing-xs 0 $spacing-2xs;
//   }

//   .button--icon {
//     padding: 0;
//   }
// }

// .dynamic-list__button {
//   margin-top: $spacing-2xs;
// }

// .dynamic-list__text {
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   line-height: 2rem;
// }
