.pagination {
    @include flex;

    &-button,
    &-link {
      @include button;
      width: 32px;
      height: 32px;
      font-weight: 400;
      background-color: transparent;
      border-radius: $border-radius-default;
      color: $text-02;
    }

    &-link {
      &:hover:not(:disabled) {
        background-color: $ui-01;
        color: $text-02;
      }

      &:focus,
      &:focus:hover {
        background-color: $primary;
        color: $ui-02;

        .svg-icon {
          fill: $ui-02;
        }
      }

      &.is-pagination-selected {
        background-color: $primary;
        color: $ui-02;

        .svg-icon {
          fill: $ui-02;
        }
      }
    }

    &-list {
      @include flex;
    }

    &-ellipsis {
      display: block;
      padding: 0 $spacing-8;
    }

    &-input {
      font-weight: 500;
      width: auto;
      height: 28px;
      padding: $spacing-4 $spacing-8;
      line-height: 18px;
      border-color: transparent;
    }

    &-dash {
      margin-right: $spacing-4;
      margin-left: $spacing-4;
    }

    &-last {
      margin-right: $spacing-4;
      margin-left: $spacing-4;
    }
  }
