.table {
  width: 100%;
  border: 1px solid $ui-04;

  caption {
    @include font-size("12");
    @include caption-out;
    margin-bottom: $spacing-8;
    color: $text-03;
    text-align: left;
  }

  th, td {
    position: relative;
    height: 40px;
    padding: $spacing-4 $spacing-8;
    color: $text-02;
    vertical-align: middle;
    overflow-wrap: break-word;
    word-break: keep-all;
  }

  th {
    position: relative;

    .button {
      display: inline-block;
      vertical-align: middle;
      margin-top: -$spacing-4;
    }
  }
  td {
    background-color: $ui-02;
  }

  // Status
  tr:hover > td {
    background-color: $hover-row;
  }

  .tr-selected td,
  .tr-selected:hover td {
    background-color: $ui-01 !important;
    color: $active-primary !important;
  }

  // size
  &.table-sm th,
  &.table-sm td {
    @include font-size("13");
    height: 32px;
  }
}
