// ---------------------
//  TODO: [퍼블리싱] 클래스 재정의 및 리팩토링
// ---------------------

@mixin text-input {
  @include font-size('14');
  position: relative;
  background-color: $ui-02;
  width: 100%;
  height: 32px;
  padding: 0 $spacing-12;
  color: $text-01;
  font-weight: 400;
  border: 1px solid $ui-04;
  border-radius: $border-radius-default;
  // transition: all $duration-fast-01 motion(standard, productive);
  outline: none;

  //IE에서 input focus 시 생기는 clear button 제거
  &::-ms-clear {
    display: none;
  }

  &:hover {
    border-color: darken($ui-04, 15%);
  }

  &:active,
  &:focus {
    border-color: $secondary;
    box-shadow: 0 0 4px rgba($secondary, 0.65);
  }

  // chrom에서 자동저장된 input의 배경컬러를 제어
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $ui-02 inset;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    cursor: not-allowed;
    background-color: $ui-02;
    border-color: $ui-04;
    opacity: 0.5;
    box-shadow: none;

    ~ .text-input-group-button {
      display: none;
    }
  }

  &[readonly],
  &[readonly]:hover,
  &[readonly]:focus {
    cursor: default;
    border-color: $ui-04;
    background-color: $disabled-01;
    color: $text-02;
    box-shadow: none;
  }

  &::placeholder {
    font-weight: 400;
    color: $text-05;
  }
}

@mixin text-input-lg {
  @include font-size('16');
  padding: 0 $spacing-16;
  height: 40px;
}

@mixin text-input-sm {
  @include font-size('12');
  padding: 0 $spacing-8;
  height: 24px;
}

// -------------------------
// classes
// -------------------------
.text-input {
  @include text-input;
}

.text-input-lg {
  @include text-input-lg;
}

.text-input-sm {
  @include text-input-sm;
}

// -------------------------
// input + icon
// -------------------------
// TODO: IMA 반영시 주의해야할 점
// 1. .text-input-group__input -> .text-input 으로 변경
.text-input-group {
  position: relative;

  .text-input {
    // 뒤에 button이 있는 경우
    &:not(&:last-child) {
      padding-right: $spacing-24;
    }

    &:nth-last-child(3):not(div) {
      padding-right: ($spacing-32 * 2) - $spacing-2 !important;
    }
  }

  &-icon {
    @include z-index('float');
    @include icon-size('sm');
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: $spacing-8;
    border: none;
    padding: 0;


    .svg-icon {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    & ~ .text-input {
      padding-left: $spacing-8 + $spacing-20 + $spacing-4;
    }
  }

  &-clear-button {
    @include z-index('float');
    @include button;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    .svg-icon {
      @include icon-size(18px);
      fill: lighten($icon-01, 18%);
    }

    &:hover {
      .svg-icon {
        fill: $icon-01;
      }
    }

    // 뒤에 search-button 있는 경우
    &:not(:last-child) {
      right: $spacing-40;
    }
  }


  &-search-button {
    @extend .button;
    @extend .button-tertiary;
    @include z-index('float');
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    border-right: transparent;
    border-top: transparent;
    border-bottom: transparent;
  }

  &-button {
    @include z-index('float');
    @include button;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    .svg-icon {
      fill: lighten($icon-01, 18%);
    }

    &:hover {
      .svg-icon {
        fill: $icon-01;
      }
    }
  }

  &-lg {
    .text-input {
      @include text-input-lg;

      &:nth-last-child(3):not(div) {
        padding-right: $spacing-12 * 6 !important;
      }
    }

    .text-input-group-icon {
      left: $spacing-12;

      & ~ .text-input {
        padding-left: 12px + 20px + 4px; // left + width + text사이와의 여백
      }
    }
    .text-input-group-clear-button {
      width: 20px;
      height: 20px;

      // 뒤에 search-button 있는 경우
      &:not(&:last-child) {
        right: $spacing-48;
      }
      .svg-icon {
        @include icon-size('sm')
      }
    }

    .text-input-group-search-button {
      width: 38px;
      height: 38px;
      .svg-icon {
        @include icon-size('md')
      }
    }
  }

  &-sm {
    .text-input {
      @include text-input-sm;
      &:nth-last-child(3):not(div) {
        padding-right: $spacing-48 - $spacing-2 !important;
      }
    }

    .text-input-group-icon {
      left: $spacing-4;
      width: 14px;
      height: 14px;

      & ~ .text-input {
        padding-left: 4px + 14px + 2px; // left + width + text사이와의 여백
      }
    }

    .text-input-group-clear-button,
    .text-input-group-button {
      right: 4px;
      width: 14px;
      height: 14px;
    }

    .text-input-group-clear-button {
      // 뒤에 search-button 있는 경우
      &:not(&:last-child) {
        right: $spacing-32;
      }

      .svg-icon {
        @include icon-size(14px);
      }
    }

    .text-input-group-search-button {
      width: 22px;
      height: 22px;
      .svg-icon {
        @include icon-size('xs')
      }
    }
  }

  &.is-text-input-group-disabled {
    button {
      opacity: 0.4;
      cursor: not-allowed;
    }

    .svg-icon {
      opacity: 0.6;
    }
  }
}

// .text-input-group__input {
//   @include text-input;
// }
