
.toggle-buttons {
  display: flex;
}

.toggle-button {
    display: flex;
    flex-direction: row;
    align-items: center;

  &:not(:first-child) {
    margin-left: $spacing-4;
  }

  &-text {
      @include font-size('13');
      line-height: 1;
      letter-spacing: -0.5px;
    }

  //size
  &-sm {
        .toggle-button-item {
          height: 24px;
          padding: 0 $spacing-8;

          .svg-icon {
            @include icon-size('xs');
          }

          &:has(.hidden-text) {
            padding: 0 3px;
          }
        }
    }
}

.toggle-button-item {
  @include button;
  @include button-theme(rgba(171, 175, 186, 0.5), $text-04, $ui-04, $text-05);
  height: 32px;
  padding: 0 $spacing-12;

  &:disabled,
  &:disabled:hover,
  &:disabled:focus,
  .is-toggle-button-item-disabled,
  .is-toggle-button-item-disabled:hover,
  .is-toggle-button-item-disabled:focus {
    background-color: $text-05;
  }

  &:not(:only-child):first-child {
    border-radius: 2px 0 0 2px;
  }
  &:not(:first-child),
  &:not(:last-child) {
    border-radius: 0;
  }
  &:not(:only-child):last-child {
    border-radius: 0 2px 2px 0;
  }

  .is-toggle-button-item-selected {
    &.is-toggle-button-item-disabled,
    &:disabled,
    &:disabled:hover,
    &:disabled:focus {
      background-color: $primary;

    }
  }
  //icon toggle button
  &:has(.hidden-text) {
    padding: 0 5px;
  }
}

.is-toggle-button-item-selected {
  @include button-theme($primary, $text-04, $hover-primary, $active-primary);
}

// tertiary Theme
.toggle-button-tertiary {
  .toggle-button-item {
    @include button-theme($ui-02, $text-02, $ui-01, $ui-04, $ui-04);

    &:not(:first-child) {
      // width: 32px;
      border-left: transparent;
    }

    &.is-toggle-button-item-selected {
      &,
      &.is-toggle-button-item-disabled,
      &:disabled,
      &:disabled:hover,
      &:disabled:focus {
        background-color: $ui-03;
      }
    }

    &.is-toggle-button-item-disabled {
      &,
      &:hover,
      &:focus,
      &:disabled,
      &:disabled:hover,
      &:disabled:focus {
        background-color: $ui-02 !important;
        opacity: 0.25;
        cursor: not-allowed;
      }
    }
  }
}
