.toggle-button {
    display: flex;
    flex-direction: row;
    align-items: center;
  
    &:not(:first-child) {
      margin-left: $spacing-4;
    }

    &-text {
        @include font-size('13');
        line-height: 1;
        letter-spacing: -0.5px;
      }
  }
  
  .toggle-buttons {
    display: flex;
  }
  
  .toggle-button-item {
    @include button;
    @include button-theme(rgba(171, 175, 186, 0.5), $text-04, $ui-04, $text-05);
  
    &:disabled,
    &:disabled:hover,
    &:disabled:focus,
    .is-toggle-button-item-disabled,
    .is-toggle-button-item-disabled:hover,
    .is-toggle-button-item-disabled:focus {
      background-color: $text-05;
    }

    &:not(:only-child):first-child {
      border-radius: 2px 0 0 2px;
    }
    &:not(:first-child),
    &:not(:last-child) {
      border-radius: 0;
    }
    &:not(:only-child):last-child {
      border-radius: 0 2px 2px 0;
    }
      
    &.is-toggle-button-item-selected.is-toggle-button-item-disabled,
    &.is-toggle-button-item-selected:disabled,
    &.is-toggle-button-item-selected:disabled:hover,
    &.is-toggle-button-item-selected:disabled:focus {
        background-color: $primary;
    }
  }
  
  
  .is-toggle-button-item-selected {
    @extend .button-primary;
  }
  
//   .toggle-button__item--icon {
//     @include button--icon(6px, 20px);
//   }
  
  // tertiary Theme
  .toggle-button-tertiary {
    .toggle-button-item {
      @include button-theme($ui-02, $text-02, $ui-01, $ui-03, $ui-04);
  
      &:not(:first-child) {
        width: 32px;
        border-left: transparent;
      }
    }
  
    .is-toggle-button-item-selected,
    .is-toggle-button-item-selected.is-toggle-button-item-disabled,
    .is-toggle-button-item-selected:disabled,
    .is-toggle-button-item-selected:disabled:hover,
    .is-toggle-buttonitem-selected:disabled:focus {
      background-color: $ui-03;
    }
  
    .is-toggle-button-item-disabled,
    .is-toggle-button-item-disabled:hover,
    .is-toggle-button-item-disabled:focus,
    .is-toggle-button-item-disabled:disabled,
    .is-toggle-button-item-disabled:disabled:hover,
    .istoggle-button-item-disabled:disabled:focus {
      background-color: $ui-02 !important;
      opacity: 0.25;
      cursor: not-allowed;
    }
  }
  
  // -------------------------
  // Size
  // -------------------------
  .toggle-button-item-sm {
    @extend .button-sm;
  }
  
//   .toggle-button__item--icon.toggle-button__item--sm {
//     @include button--icon(4px, 16px);
//   }
  
  // -------------------------
  // toggle-button-list
  // -------------------------
  .toggle-button-list {
    display: flex;
    flex-wrap: wrap;
    margin: -$spacing-4 -$spacing-4 0 -$spacing-4;
  }
  
  .toggle-button-list .toggle-button {
    margin-left: 0;
    padding: $spacing-4;
  }
  
  .toggle-button-list .toggle-button-text {
    width: 100%;
    word-break: keep-all;
    word-wrap: break-word;
    white-space: normal;
  }