/* Error: Missing argument $name.
 *    ,--> assets\scss\components\_dropdown.scss
 * 5  |     @include list;
 *    |     ^^^^^^^^^^^^^ invocation
 *    '
 *    ,--> assets\scss\abstracts\_mixin-helper.scss
 * 90 | @mixin list($name) {
 *    |        =========== declaration
 *    '
 *   assets\scss\components\_dropdown.scss 5:5  list()
 *   assets\scss\components\_dropdown.scss 5:5  @import
 *   assets\scss\main.scss 36:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $name.\a    \250c \2500 \2500 > assets\\scss\\components\\_dropdown.scss\a 5  \2502      @include list;\a    \2502      ^^^^^^^^^^^^^ invocation\a    \2575 \a    \250c \2500 \2500 > assets\\scss\\abstracts\\_mixin-helper.scss\a 90 \2502  @mixin list($name) {\a    \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a    \2575 \a   assets\\scss\\components\\_dropdown.scss 5:5  list()\a   assets\\scss\\components\\_dropdown.scss 5:5  @import\a   assets\\scss\\main.scss 36:9                 root stylesheet";
}
