.collapse {
  visibility: collapse
}

.block {
  display: block
}

.table {
  display: table
}

.border-collapse {
  border-collapse: collapse
}

.border {
  border-width: 1px
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.outline {
  outline-style: solid
}

.grayscale {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}